:root {
  --vp-font-family-base: 'Cascadia Code', 'Cascadia Next SC', 'system-ui', 'DengXian', 'SimHei', 'Inter', ui-sans-serif, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --vp-font-family-mono: 'Cascadia Code', 'DengXian', ui-monospace, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;

  .light-wrapper {
    background: #f6f6f6;
  }
  /* .VPSocialLinks.VPNavBarSocialLinks.social-links {
    margin-right: 0;
  } */
}
