:root {
  --vp-font-family-base: 'Cascadia Code', '等线', 'Inter', '黑体', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --vp-font-family-mono: 'Cascadia Code', '等线', ui-monospace, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;

  .light-wrapper {
    background: #f6f6f6;
  }
  /* .VPSocialLinks.VPNavBarSocialLinks.social-links {
    margin-right: 0;
  } */
}
